/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/app/assets/stylesheets/.sass-cache
.emacs.desktop
xx
public/tests.html
vendor/bundle
public/experimental
schema.rb
.bundle
db/*.sqlite3*
log
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
*#
notes.txt
work