<% content_for :head do %>

 <style type="text/css">
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 50px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      
      img {
	  width: 350px;
	  height: 300px;
	  margin: 5px 0 25px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
<% end %>


<div class="jumbotron">
  <h1>Times People / Inside Edition</h1>
  <p class="lead">
    An easier way to find the people you're looking for.
  </p>

  <%= link_to "Start finding people", people_path, :class => "btn btn-large btn-success" %>


<hr>

<div class="row-fluid marketing">

  <div class="span6">
    <h4>Easy Search</h4>
    <p>Search by name, status, common supervisors, and more.</p>
    <img src="search_example.png" class="img-polaroid">

    <h4>Easy Relationships</h4>
    <p>Picklists help you update reporting relationships in seconds.</p>
    <img src="relationships_example.png" class="img-polaroid">
  </div>
  
  <div class="span6">
    <h4>Easy Charts</h4>
    <p>Navigate, view and print org charts at the depth you choose.</p>
    <img src="chart_example.png" class="img-polaroid">

    <h4>Easy Exports</h4>
    <p>Bring fresh information to your meeting in a familiar format.</p>
    <img src="excel_example.png" class="img-polaroid">

  </div>

</div>


</div>

<div class="well">
<h3>Live Updates</h3>
<table class="table table-condensed">
  <tr>
    <th>When</th><th>Who</th><th>Action</th>
  </tr>
  <% @activities.each do |a| %>
  <tr>
    <td><%= distance_of_time_in_words(Time.now, a.created_at) %> ago...</td><td><%= a.owner %></td><td><%= a.summary %></td>
  </tr>
  <% end %>
</table>
</div>
